[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
black = "==19.3b0"

[packages]
flask = "*"
numpy = "*"
scipy = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
